*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-bar
{
  background: #212529;
  text-align: center;
}

.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: white;
}

.menu-bar ul li
{
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a
{
  text-decoration: none;
  color: white;
}

.menu-bar ul li:hover
{
  background: #181b20;
}

.menu-bar .bi
{
  margin-right: 8px;
}

.sub-menu-1
{
  display: none;
}

.sub-menu-1 ul li a
{
  color: #181b20;
}

.sub-menu-1 ul li:hover a
{
  color: white;
}

.menu-bar ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  background: #ddd;
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
  display: block;
  margin: 10px;
}
