{% extends "layout.html" %}

{% block title %}
Juegos de acción
{% endblock %}

{% block main %}
<div class="container-cards">
    <table>
        <tr>
            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/dbz" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none;color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none;color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none;color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

        </tr>


        <tr>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none;color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none;color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}