{% extends "layout.html" %}

{% block title %}
Juegos Casuales
{% endblock %}

{% block main %}
<div class="container-cards">
    <table>
        <tr>
            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <a href="/casuales/getting-over-it" style="text-decoration: none; color: white;">
                    <img class="GameThumbImage" loading="eager" src="https://images.crazygames.com/games/getting-over-it/cover-1655200712094.png?auto=format,compress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;fit=crop" decoding="auto" alt="Getting Over It" srcset="https://images.crazygames.com/games/getting-over-it/cover-1655200712094.png?auto=format,compress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=215&amp;h=121&amp;fit=max 216w,
https://images.crazygames.com/games/getting-over-it/cover-1655200712094.png?auto=format,compress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=221&amp;h=124&amp;fit=max 222w,
https://images.crazygames.com/games/getting-over-it/cover-1655200712094.png?auto=format,compress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=236&amp;h=133&amp;fit=max 237w,
https://images.crazygames.com/games/getting-over-it/cover-1655200712094.png?auto=format,compress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=241&amp;h=135&amp;fit=max 242w," sizes="(min-width:2020px) 215px,
(min-width:850px) 221px,
(min-width:591px) 241px,
236px">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        
                            <h4>Getting Over It</h4>
                        
                    </div>
                    </a>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/geometry-neon-dash-subzero" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/geometry-neon-dash-subzero/cover-1620298954142.png?auto=format,compress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Geometry Dash Subzero" width="178" height="100">

                            <h4>Geometry Dash</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    

                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/chess-online-multiplayer-game" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/chess-online-multiplayer-game/20221128113100/chess-online-multiplayer-game-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Chess Online Multiplayer" width="178" height="100">

                            <h4>Ajedrez</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">

                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/internet-gaming-cafe-simulator" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/internet-&amp;-gaming-cafe-simulator/20220630114718/internet-&amp;-gaming-cafe-simulator-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Internet and Gaming Cafe Simulator" width="178" height="100">

                            <h4>cyber simulator</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/cut-the-rope" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/cut-the-rope/cover-1600854243698.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Cut the Rope" width="178" height="100">
                            <h4>Cut the rope</h4>
                        </a>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/" style="text-decoration: none;color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/royaledudes-io" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/royaledudes-io/20220110094533/royaledudes-io-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="RoyaleDudes.io" width="178" height="100">

                            <h4>RoyaleDudes.io</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/market-boss" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/market-boss/20220523115722/market-boss-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Market Boss" width="178" height="100">

                            <h4>market boss</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/total-crush" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/total-crush/20221103163217/total-crush-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Total Crush" width="178" height="100">

                            <h4>total crush</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/turbo-dismounting" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/turbo-dismounting/cover-1655215651940.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Turbo Dismounting" width="178" height="100">

                            <h4>turbo dismounting</h4>
                        </a>
                    </div>
                </div>
            </td>

        </tr>


        <tr>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/international-super-animal-soccer" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/international-super-animal-soccer/20221125111024/international-super-animal-soccer-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="International Super Animal Soccer" width="178" height="100">

                            <h4>Futbol animal</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/wood-farmer" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/wood-farmer/20220412141345/wood-farmer-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Wood Farmer" width="178" height="100">
                            <h4>wood farmer</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/crazy-roll-3d" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/crazy-roll-3d/cover-1663149965269.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Crazy Roll 3D" width="178" height="100">
                            <h4>crazy roll 3d</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/lampada-street" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/lampada-street-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Lampada Street" width="178" height="100">
                            <h4>lampada street</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <img src="/static/images/dbz.png">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/casuales/" style="text-decoration: none; color: white;">
                            <h4>Dragon Ball 3D</h4>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}