
{% extends "layout.html" %}

{% block title %}
    UnsirifaGames
{% endblock %}


{% block main %}
<div class="banner">
    <div class="bg">
        <div class="content">
            <h2>¡Bienvenidos a UnsirifaGames!</h2>
            <p>
                Disfruta de una colección de juegos súper divertidos
                para personas de todas las edades. ¡A jugar!
            </p>
            <a href="#" class="btn">Únete ahora</a>
        </div>
        <img src="static/images/malan.png">
    </div>
</div>
<div class="about">
    <div class="container-info">
        <h2>Acerca de <span>UnsiriGames</span></h2>
        <p>¡Olvídate del aburrimiento con Minijuegos! La mayor selección de juegos gratis está aquí,
            para que lleves la diversión al siguiente nivel. Juega online y sin preocupaciones:
            puedes jugar a todos nuestros juegos sin descargar. ¡Pero cuidado!
            Nuestros juegos de acción solo son aptos para los más atrevidos;
            competirás con grandes pilotos en nuestros juegos de carreras;
            podrás poner a prueba al estratega que llevas dentro en todos nuestros juegos de estrategia;
            y sólo los auténticos exploradores llegarán a su meta en los juegos de aventura.
            Y para los clásicos, las versiones clásicas y no tan clásicas de los clásicos juegos de mesa.
            ¡Todos los juegos gratis y sin descargar!
        </p>
    </div>
    <img src="static/images/unsiri.png">
</div>

<!-- <div class="games">
    <h2>Juegos destacados</h2>
    <ul>
        <li class="filter">Todos</li>
        <li class="filter">Juegos para pc</li>
        <li class="filter">Juegos para móviles</li>
    </ul>
</div>

<div class="cards">
    <div class="box" data-item="PC">
        <img src="">
    </div>
</div> -->
{% endblock %}

