{% extends "layout.html" %}

{% block title %}
Juegos de Terror
{% endblock %}

{% block main %}
<div class="container-cards">
    <table>
        <tr>
            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <a href="/terror/kuzbass-horror" style="text-decoration: none; color: white;">
                        <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/kuzbass-horror/20221104034041/kuzbass-horror-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Kuzbass Horror" width="178" height="100">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        
                            <h4>kuzbass horror</h4>
                        
                    </div>
                    </a>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/backwoods" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/backwoods/20221117135319/backwoods-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Backwoods" width="178" height="100">

                            <h4>backwoods</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    

                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/creepy-granny-scream-scary-freddy" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/creepy-granny-scream-scary-freddy-horror-game.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Creepy Granny Scream: Scary Freddy" width="178" height="100">

                            <h4>creepy granny</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">

                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/haunted-school---horror-game" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/haunted-school---horror-game/cover-1657021606968.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Haunted School" width="178" height="100">

                            <h4>haunted school</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/isles-of-mists-horror-story" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/isles-of-mists-horror-story/20221125082114/isles-of-mists-horror-story-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Isles of Mists" width="178" height="100">
                            <h4>isles of mists</h4>
                        </a>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/brother-wake-up" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/brother-wake-up/20221129200147/brother-wake-up-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Brother Wake Up" width="178" height="100">
                            <h4>brother wake up</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/house-of-celestina" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/house-of-celestina/20210305093621/house-of-celestina-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="House of Celestina" width="178" height="100">

                            <h4>house of celestina</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/bear-haven-2" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/bear-haven-2/20220714082110/bear-haven-2-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Bear Haven 2" width="178" height="100">

                            <h4>bear haven 2</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/celestina-chapter-two" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/celestina-chapter-two/20211217092806/celestina-chapter-two-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="House of Celestina: Chapter Two" width="178" height="100">

                            <h4>celestina chapter two</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/case-smile-horror-game-adventure" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/case-smile-horror-game-adventure.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Case: Smile" width="178" height="100">

                            <h4>case: smile</h4>
                        </a>
                    </div>
                </div>
            </td>

        </tr>


        <tr>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/case-smile-2" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/case-smile-2/cover-1587116478379.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Case: Smile 2" width="178" height="100">

                            <h4>case: smile 2</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/in-to-the-forest" style="text-decoration: none;color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/in-to-the-forest/cover-1614083256465.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Into the Forest" width="178" height="100">
                            <h4>into the forest</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/saw-4-trapped" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/games/saw-4-trapped/cover-1629978961848.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Saw 4 Trapped" width="178" height="100">
                            <h4>saw 4 trapped</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/slenderman-must-die-silent-streets" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/slendermanmustdiesilentstreets.png?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Slenderman Must Die: Silent Streets" width="178" height="100">
                            <h4>slenderman: silent streets</h4>
                        </a>
                    </div>
                </div>
            </td>

            <td>
                <div class="card text-center" style="border: transparent; background: none;">
                    <div class="card-body"
                        style="text-transform: uppercase; display: flex; justify-content: center; align-items: center;">
                        <a href="/terror/slenderman-must-die-sanatorium-2021" style="text-decoration: none; color: white;">
                            <img class="GameThumbImage" loading="lazy" src="https://images.crazygames.com/slenderman-must-die-sanatorium-2021/20210111151514/slenderman-must-die-sanatorium-2021-cover?auto=format%2Ccompress&amp;q=45&amp;cs=strip&amp;ch=DPR&amp;w=178&amp;h=100&amp;fit=crop" decoding="async" alt="Slenderman Must Die: Sanatorium 2021" width="178" height="100">
                            <h4>slenderman: sanatorium</h4>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}