<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>UnsirifaGames</title>
</head>
<body>
    <div id="container">

        <header>
            <a href="static\logo.png" class="logo">UnsirifaGames</a>
            <ul class="nav">
                <li> <a href="">home</a> </li>
                <li> <a href="">Accion</a> </li>
                <li> <a href="">Mesa</a> </li>
                <li> <a href="">Aventura</a> </li>
                <li> <a href="">Clasicos</a> </li>
            </ul>
            <div class="action">
                <div class="searchBx">
                    <a href="#"><i class='bx bx-search-alt'></i></a>
                    <input type="text" placeholder="Buscar juego">
                </div>
            </div>
            <div class="toggleMenu" onclick="toggleMenu()"></div>
        </header>

        <section id="home">
            <div class="banerhome">
                <div class="content">
                    <h2>Texto de relleno <br>
                        Unsirifa
                    </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit odio nesciunt accusamus a, eveniet illum quisquam, ea minus aspernatur expedita, molestias animi porro saepe hic eos reiciendis cum tempore rem?</p>
                    <a href="#" class="btn">Comnezar ya!</a>
                </div>
                <img src="static\malanDefinitivo.png" alt="">
            </div>
        </section>

        <section id="about">
            <div class="contentBx">
                <h2>Acerca de UnsirifaGames</h2>
                <p>
                    ¡Olvídate del aburrimiento con UnsirifaGames! La mayor selección de juegos gratis está aquí, para que lleves la diversión al siguiente nivel. Juega online y sin preocupaciones: puedes jugar a todos nuestros juegos sin descargar. ¡Pero cuidado! Nuestros juegos de acción solo son aptos para los más atrevidos; competirás con grandes pilotos en nuestros juegos de carreras; podrás poner a prueba al estratega que llevas dentro en todos nuestros juegos de estrategia; y sólo los auténticos exploradores llegarán a su meta en los juegos de aventura. Y para los clásicos, las versiones clásicas y no tan clásicas de los clásicos juegos de mesa. ¡Todos los juegos gratis y sin descargar!
                </p>
                <a href="#">Read More</a>
            </div>
            <img src="static\unsiri.png">
        </section>
    </div>
    <script>
        /*Responsive navbar*/
        function toggleMenu()
        {
            const toggleMenu = document.querySelector('.toggleMenu');
            const nav = document.querySelector('.nav');
            toggleMenu.classList.toggle('active')
            nav.classList.toggle('active')
        }
    </script>
</body>
</html>