<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style.css"> 
</head>
<body>
    <div id="container">
        <header>
            <nav id="containerNav">
                <input type="checkbox" id="check">
                <label for="check" class="mostrar-nav">
                    &#8801
                </label>
                <div class="buscador">
                    <button>
                        <img src="static/iconoBuscar.png" alt="img">
                    </button>
                    <input type="text" name="Busqueda" value="" placeholder="Buscar Juego">
                </div>
                <div class="navbar">
                    <ul>
                        <li>
                            <a href="templates\menuJuegos.html">Estrategias</a>
                        </li>
        
                        <li>
                            <a href="index.html">Accion</a>
                        </li>
        
                        <li>
                            <a href="index.html">Deportes</a>
                        </li>
                        
                        <li>
                            <a href="index.html">Mesa</a>
                        </li>

                        <label for="check" class="esconder-nav">
                            &#215
                        </label>

                    </ul>
                </div>
                <div class="logoUser">
                    <button>
                        <img src="static\registrar.png" alt="">
                    </button>
                </div>
            </nav>
        </header>

        <div class="clearfix"></div>

        <section  id="content">

            <article class="article">
                <h1>Bienvenidos a la mejor paginas de juegos propios online, para una mejor experiencia es recomendable iniciar sesion pero en caso que no... ¡A DISFRUTAR YA!</h1>
            </article>

        </section>

        <section id="MostrarJuegos">
            <div class="juegos">
                <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In iusto labore suscipit. Reprehenderit nam adipisci quidem similique? Eveniet assumenda, fugit, modi, a nisi ipsum quaerat explicabo fuga placeat ab voluptatum?</h1>
            </div>
        </section>

        <footer>
            <div class="containerFooter">
              <p>&copy; Derechos anonimos</p>
            </div>
        </footer>
    </div>

</body>
</html>