* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    background: #1d191f;
}

/* navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242533;
    transition: 0.5s;
    z-index: 3;
    box-shadow: 0 0 10px black;
}

header.sticky{
    background: #333;
    box-shadow: 0 0 10px black;
}

header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
}

header .logo span {
    color: hsl(42, 99%, 46%);
}

header ul li a:hover:not(header .nav li .login-btn a) {
    background: hsla(42, 99%, 46%, 0.75);
    color: #242533;
    box-shadow: 0 0 10px hsla(42, 99%, 46%, 0.75);
}

header .action .searchBx {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    text-shadow: black 0px 3px 8px;
}

header .action .searchBx i{
    font-size: 1.4em;
    margin: 5px;
    color: #EAA221;
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1em;
    color: black;
}

header .nav .login-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

header .nav .login-btn a {
    text-decoration: none;
}

header .nav .login-btn a i{
    font-size: 1.8em;
    margin: 5px;
    color: #EAA221;
    border-radius: 50%;
}

header .nav .login-btn a i:hover {
    background: hsla(42, 99%, 46%, 0.75);
    color: #242533;
    box-shadow: 0 0 10px hsla(42, 99%, 46%, 0.75);
}

.banner {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content {
    width: 50%;
    height: 100%
}

.banner .bg .content h2 {
    font-size: 4em;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
    animation: text 5s infinite;
}

@keyframes text {
    50% {
        text-shadow: 10px 20px 30px #EAA221;
    }
}

.banner .bg .content p {
    font-size: 1.3em;
    color: #dbd9d9;
    letter-spacing: 1px;
}

.banner .bg .content a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #EAA221;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background: #EAA221;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 20px 5px #EAA221;
}

.banner .bg .content a:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.banner .bg img {
    width: 650px;

}

.about {
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242533;
    box-shadow: 0 0 10px black;
}

.about .container-info {
    width: 50%;
    margin: 20px;
}

.about .container-info h2 {
    font-size: 4em;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
}

.about img{
    top: 20px;
    left: 20px;
    width: 40%;
}

.about .container-info p {
    max-width: 800px;
    font-size: 1.3em;
    text-align: justify;
    color: white;
    text-shadow: black 0px 3px 8px;
}

.about .container-info h2 span {
    color: hsl(42, 99%, 46%);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #EAA221;
    border-radius: 6px;
}

.container-cards {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/accion-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    box-shadow: 0 0 10px black;
    flex-direction: column;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px;
}

.container-cards td {
    padding: 0px 15px 35px;
}

.container-cards img {
    width: 155px;
    height: 160px;
}

.games {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/card-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.games h2 {
    color: white;
    margin: 10px 0;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
}

.games .card-box {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games .card-box .card {
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1d191f;
    overflow: hidden;
    box-shadow: black 0px 3px 8px;
}

.games .card-box .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.games .card-box .card .content {
    padding: 10px;
}

.games .card-box .card .content h4 {
    color: white;
    margin: 5px auto;
}

.games .card-box .card .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.games .card-box .card .content .info a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #EAA221;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background: #EAA221;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 20px 5px #EAA221;
}

.games .card-box .card .content .info a:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.contact-bg {
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-bg img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.contact-bg .form {
    width: 50%;
    margin: 30px;
}

.contact-bg .form h1 {
    color: white;
}

.contact-bg .form .input-box {
    margin: 10px 0;
}

.contact-bg .form .input-box p {
    color: white;
}

.contact-bg .form .input-box input,
.contact-bg .form .input-box textarea {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: white;
    background: #242533;
    min-height: 15px;
    font-size: 1.1em;
}

.contact-bg .form .input-box textarea {
    height: 150px;
}

.contact-bg .form .input-box input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid #EAA221;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background: #EAA221;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 20px 5px #EAA221;
    letter-spacing: 1px;
    width: 150px;
}

.contact-bg .form .input-box input[type="submit"]:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

footer {
    padding: 10px 100px;

}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info .logo {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

footer .info p {
    color: gray;

}

footer .info ul {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .info ul li {
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAA221;
}

footer .info ul li:hover {
    background: #EAA221;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px #EAA221;
}

/* inicio de sesión/registro */

/* fondo negro */
.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

/* ventana emergente */
.popup {
    background: white;
    box-shadow: black 0px 3px 8px;
    border-radius: 3px;
    text-align: center;
    max-width: 850px;
    width: 100%;
    opacity: 0;
    transform: scale(0.7);
    transition: 0.3s ease all;
}

.popup .btn-cerrar-popup {
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: right;
    transition: 0.3s ease all;
    color: #EAA221;
    position: relative;
    z-index: 1000;
}

.popup .btn-cerrar-popup:hover {
    color: red;
}

.popup.active{opacity: 1; transform: scale(1);}

.container {
    position: relative;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container .cover img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: #242533;
}

.form-content .input-box i {
    position: absolute;
    color: #242533;
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
}

.forms .form-content .text a {
    text-decoration: none;
    color: #242533;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

.forms .form-content .button input {
    color: #fff;
    background: #1d191f;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
    background: #242533;
}

.forms .form-content label {
    color: #EAA221;
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .container #flip:checked~.forms .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .login-form {
        display: none;
    }
}


@media(max-width: 991px) {
    header{
        padding: 15px 40px;
    }

    header .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #242533;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
    }

    header .nav.active {
        display: flex;
    }

    header .nav li {
        margin: 20px 0;
    }

    header .nav li a {
        font-size: 24px;
        margin: 10px 0;
    }

    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;
    }

    .toggleMenu.active {
        background: url(images/close.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
    }
    .banner .bg img {
        position: absolute;
    }

    .banner .bg .content{
        width: 100%;
        height: 100%;
        background: rgb(34 38 65 / 50%);
        padding: 10px;
        z-index: 1;
        border-radius: 10px;
    }

    .about{
        flex-direction: column;
    }

    .about .container-info {
        width: 100%;
    }

    .contact{
        flex-direction: column;
    }

    .contact img{
        height: 100%;
        width: 100%;
    }

    .contact .form{
        width: 100%;
        margin: 30px;
        padding: 10px;
    }
    .contact .form h3{
        text-align: center;
    }

    footer .info{
        flex-direction: column;
    }
}

.wrapper .sidebar{
    background: #1d191f;
    position: fixed;
    top: 0;
    right: 0;
    width: 225px;
    height: 100%;
    padding: 20px;
    transition: all 0.5s ease;
    border-left: solid 2px #EAA221;
    border-radius: 6px;
    box-shadow: black 0px 3px 8px;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;

}

.wrapper .sidebar .profile img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: white;
    text-shadow: black 0px 3px 8px;
    text-transform: uppercase;
    margin: 10px 0 5px;
}


.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 25px;
    border-bottom: 1px solid #EAA221;
    color: white;
    font-size: 12px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #EAA221;
    width: 15px;
    display: inline-block;
}

.wrapper.active .sidebar{
    right: -225;
}

.container-header{
    text-align: center;
    width: 100%;
    min-height: 100vh;
    padding: 200px 100px;
    background-image: url(images/hbg.jpg);
    background-repeat: no-repeat;
    box-shadow: black 0px 3px 8px;
}

.container-header .description img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: black 0px 3px 8px;
}

.container-header .description h1{
    font-size: 40px;
    margin-top: 14px;
    color: #cfc547;
    text-shadow: 0px 11px 10px rgba(81,67,21,0.8);
    text-transform: uppercase;
}