*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    background: #1d191f;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242533;
    transition: 0.5s;
    z-index: 1000;
}

header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin: 10px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

header .logo span{
    color: hsl(42, 99%, 46%);
}

header ul li a:hover{
    background: hsla(42, 99%, 46%, 0.75);
    color: #242533;
    box-shadow: 0 0 10px hsla(42, 99%, 46%, 0.75);
}

header .action .searchBx{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

header .action .searchBx a i{
    font-size: 1.4em;
    margin: 5px;
    color: #EAA221;
}

header .action .searchBx input{
    outline: none;
    border: none;
    font-size: 1em;
    color: black;
}

.banner{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content{
    width: 50%;
    height: 100%
}

.banner .bg .content h2{
    font-size: 4em;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.banner .bg .content p{
    font-size: 1em;
    color: #dbd9d9;
    letter-spacing: 1px;
}

.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #EAA221;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background: #EAA221;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 20px 5px #EAA221;
}

.banner .bg .content a:hover{
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.banner .bg img{
    width: 600px;

}

.about{
    position: relative;
    width: 100%;
    min-height: 75hv;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container-info{
    width: 50%;
    margin: 20px;
}

.about .container-info h2{
    font-size: 3em;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.about .container-info p{
    max-width: 600px;
    text-align: justify;
    color: white;
}

.about .container-info h2 span{
    color: hsl(42, 99%, 46%);
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: #EAA221;
    border-radius: 6px;
}

.container-cards{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/accion-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 170px;
}

.container-cards td{
    padding: 0px 15px 35px;
}

.container-cards img{
    width: 155px;
    height: 160px;
}













