<<<<<<< HEAD
<<<<<<< HEAD
* {
=======
*{
>>>>>>> master
=======
* {
>>>>>>> master
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

<<<<<<< HEAD
<<<<<<< HEAD
body {
=======
body{
>>>>>>> master
=======
body {
>>>>>>> master
    background: #1d191f;
}

/* navbar */
<<<<<<< HEAD
<<<<<<< HEAD
header {
=======
header{
>>>>>>> master
=======
header {
>>>>>>> master
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242533;
    transition: 0.5s;
    z-index: 3;
<<<<<<< HEAD
<<<<<<< HEAD
    box-shadow: 0 0 10px black;
}

header .logo {
=======
}

header .logo{
>>>>>>> master
=======
    box-shadow: 0 0 10px black;
}

header .logo {
>>>>>>> master
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
}

<<<<<<< HEAD
<<<<<<< HEAD
header .nav {
=======
header .nav{
>>>>>>> master
=======
header .nav {
>>>>>>> master
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
header ul li {
=======
header ul li{
>>>>>>> master
=======
header ul li {
>>>>>>> master
    list-style: none;
    margin: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
header ul li a {
=======
header ul li a{
>>>>>>> master
=======
header ul li a {
>>>>>>> master
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

<<<<<<< HEAD
<<<<<<< HEAD
header .logo span {
    color: hsl(42, 99%, 46%);
}

header ul li a:hover:not(header .nav li .login-btn a) {
=======
header .logo span{
    color: hsl(42, 99%, 46%);
}

header ul li a:hover{
>>>>>>> master
=======
header .logo span {
    color: hsl(42, 99%, 46%);
}

header ul li a:hover:not(header .nav li .login-btn a) {
>>>>>>> master
    background: hsla(42, 99%, 46%, 0.75);
    color: #242533;
    box-shadow: 0 0 10px hsla(42, 99%, 46%, 0.75);
}

<<<<<<< HEAD
<<<<<<< HEAD
header .action .searchBx {
    padding: 5px;
    margin: 0 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 5px;
}

header .action .searchBx a {
    font-size: 1.4em;
    color: #EAA221;
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1em;
    color: black;
}

header .nav .login-btn {
=======
header .action .searchBx{
    padding: 5px;
    margin: 5px;
>>>>>>> master
=======
header .action .searchBx {
    padding: 5px;
    margin: 0 10px;
>>>>>>> master
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 5px;
}

<<<<<<< HEAD
<<<<<<< HEAD
header .nav .login-btn a {
    text-decoration: none;
}

header .nav .login-btn a i {
    font-size: 1.8em;
=======
header .action .searchBx a i{
=======
header .action .searchBx a {
>>>>>>> master
    font-size: 1.4em;
    color: #EAA221;
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1em;
    color: black;
}

header .nav .login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

<<<<<<< HEAD
header .login .login-btn a i{
    font-size: 1.9em;
>>>>>>> master
=======
header .nav .login-btn a {
    text-decoration: none;
}

header .nav .login-btn a i {
    font-size: 1.8em;
>>>>>>> master
    margin: 5px;
    color: #EAA221;
    border-radius: 50%;
}

<<<<<<< HEAD
<<<<<<< HEAD
header .nav .login-btn a i:hover {
=======
header .login .login-btn a i:hover{
>>>>>>> master
=======
header .nav .login-btn a i:hover {
>>>>>>> master
    background: hsla(42, 99%, 46%, 0.75);
    color: #242533;
    box-shadow: 0 0 10px hsla(42, 99%, 46%, 0.75);
}

<<<<<<< HEAD
<<<<<<< HEAD
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/bg.png);
=======
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bg.png);
>>>>>>> master
=======
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/bg.png);
>>>>>>> master
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


<<<<<<< HEAD
<<<<<<< HEAD
.banner .bg {
=======
.banner .bg{
>>>>>>> master
=======
.banner .bg {
>>>>>>> master
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.banner .bg .content {
=======
.banner .bg .content{
>>>>>>> master
=======
.banner .bg .content {
>>>>>>> master
    width: 50%;
    height: 100%
}

<<<<<<< HEAD
<<<<<<< HEAD
.banner .bg .content h2 {
=======
.banner .bg .content h2{
>>>>>>> master
=======
.banner .bg .content h2 {
>>>>>>> master
    font-size: 4em;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
    animation: text 5s infinite;
}

@keyframes text {
<<<<<<< HEAD
<<<<<<< HEAD
    50% {
        text-shadow: 10px 20px 30px #EAA221;
    }
}

.banner .bg .content p {
    font-size: 1.3em;
=======
    50% {text-shadow: 10px 20px 30px blue;}
}

.banner .bg .content p{
    font-size: 1em;
>>>>>>> master
=======
    50% {
        text-shadow: 10px 20px 30px #EAA221;
    }
}

.banner .bg .content p {
    font-size: 1.3em;
>>>>>>> master
    color: #dbd9d9;
    letter-spacing: 1px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.banner .bg .content a {
=======
.banner .bg .content a{
>>>>>>> master
=======
.banner .bg .content a {
>>>>>>> master
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #EAA221;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background: #EAA221;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 20px 5px #EAA221;
}

<<<<<<< HEAD
<<<<<<< HEAD
.banner .bg .content a:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.banner .bg img {
    width: 45%;

}

.about {
    position: relative;
    width: 100%;
    min-height: 80vh;
=======
.banner .bg .content a:hover{
=======
.banner .bg .content a:hover {
>>>>>>> master
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.banner .bg img {
    width: 45%;

}

.about {
    position: relative;
    width: 100%;
<<<<<<< HEAD
    min-height: 75hv;
>>>>>>> master
=======
    min-height: 80vh;
>>>>>>> master
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
    background: #242533;
    box-shadow: 0 0 10px black;
}

.about .container-info {
=======
}

.about .container-info{
>>>>>>> master
=======
    background: #242533;
    box-shadow: 0 0 10px black;
}

.about .container-info {
>>>>>>> master
    width: 50%;
    margin: 20px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.about .container-info h2 {
    font-size: 4em;
=======
.about .container-info h2{
    font-size: 3em;
>>>>>>> master
=======
.about .container-info h2 {
    font-size: 4em;
>>>>>>> master
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> master
.about img{
    top: 20px;
    left: 20px;
    width: 40%;
}

.about .container-info p {
    max-width: 800px;
    font-size: 1.3em;
<<<<<<< HEAD
=======
.about .container-info p{
    max-width: 600px;
>>>>>>> master
=======
>>>>>>> master
    text-align: justify;
    color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
.about .container-info h2 span {
    color: hsl(42, 99%, 46%);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
=======
.about .container-info h2 span{
=======
.about .container-info h2 span {
>>>>>>> master
    color: hsl(42, 99%, 46%);
}

::-webkit-scrollbar {
    width: 12px;
}

<<<<<<< HEAD
::-webkit-scrollbar-thumb{
>>>>>>> master
=======
::-webkit-scrollbar-thumb {
>>>>>>> master
    background: #EAA221;
    border-radius: 6px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container-cards {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/accion-bg.png);
=======
.container-cards{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/accion-bg.png);
>>>>>>> master
=======
.container-cards {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/accion-bg.png);
>>>>>>> master
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
    min-height: 120vh;
    padding: 0px 100px;
    box-shadow: 0 0 10px black;
}

.container-cards {
=======
    min-height: 100vh;
=======
    min-height: 120vh;
>>>>>>> master
    padding: 0px 100px;
    box-shadow: 0 0 10px black;
}

<<<<<<< HEAD
.container-cards{
>>>>>>> master
=======
.container-cards {
>>>>>>> master
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 170px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container-cards td {
    padding: 0px 15px 35px;
}

.container-cards img {
=======
.container-cards td{
    padding: 0px 15px 35px;
}

.container-cards img{
>>>>>>> master
=======
.container-cards td {
    padding: 0px 15px 35px;
}

.container-cards img {
>>>>>>> master
    width: 155px;
    height: 160px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/card-bg.png);
=======
.games{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/card-bg.png);
>>>>>>> master
=======
.games {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/card-bg.png);
>>>>>>> master
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
<<<<<<< HEAD
<<<<<<< HEAD
}

.games h2 {
=======
    margin: 40px auto;
}

.games h2{
>>>>>>> master
=======
}

.games h2 {
>>>>>>> master
    color: white;
    margin: 10px 0;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: black 0px 3px 8px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games .card-box {
=======
.games .card-box{
>>>>>>> master
=======
.games .card-box {
>>>>>>> master
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games .card-box .card {
=======
.games .card-box .card{
>>>>>>> master
=======
.games .card-box .card {
>>>>>>> master
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1d191f;
    overflow: hidden;
    box-shadow: black 0px 3px 8px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games .card-box .card img {
=======
.games .card-box .card img{
>>>>>>> master
=======
.games .card-box .card img {
>>>>>>> master
    width: 100%;
    height: 250px;
    object-fit: cover;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games .card-box .card .content {
    padding: 10px;
}

.games .card-box .card .content h4 {
=======
.games .card-box .card .content{
    padding: 10px;
}

.games .card-box .card .content h4{
>>>>>>> master
=======
.games .card-box .card .content {
    padding: 10px;
}

.games .card-box .card .content h4 {
>>>>>>> master
    color: white;
    margin: 5px auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games .card-box .card .content .info {
=======
.games .card-box .card .content .info{
>>>>>>> master
=======
.games .card-box .card .content .info {
>>>>>>> master
    display: flex;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games .card-box .card .content .info a {
=======
.games .card-box .card .content .info a{
>>>>>>> master
=======
.games .card-box .card .content .info a {
>>>>>>> master
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #EAA221;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background: #EAA221;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 20px 5px #EAA221;
}

<<<<<<< HEAD
<<<<<<< HEAD
.games .card-box .card .content .info a:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.contact-bg {
=======
.games .card-box .card .content .info a:hover{
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.contact-bg{
>>>>>>> master
=======
.games .card-box .card .content .info a:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

.contact-bg {
>>>>>>> master
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.contact-bg img {
    height: 100%;
    width: 31%;
=======
.contact-bg img{
    height: 100%;
    width: 50%;
>>>>>>> master
=======
.contact-bg img {
    height: 100%;
    width: 31%;
>>>>>>> master
    object-fit: cover;
    border-radius: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.contact-bg .form {
=======
.contact-bg .form{
>>>>>>> master
=======
.contact-bg .form {
>>>>>>> master
    width: 50%;
    margin: 30px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.contact-bg .form h1 {
    color: white;
}

.contact-bg .form .input-box {
    margin: 10px 0;
}

.contact-bg .form .input-box p {
=======
.contact-bg .form h1{
=======
.contact-bg .form h1 {
>>>>>>> master
    color: white;
}

.contact-bg .form .input-box {
    margin: 10px 0;
}

<<<<<<< HEAD
.contact-bg .form .input-box p{
>>>>>>> master
=======
.contact-bg .form .input-box p {
>>>>>>> master
    color: white;
}

.contact-bg .form .input-box input,
<<<<<<< HEAD
<<<<<<< HEAD
.contact-bg .form .input-box textarea {
=======
.contact-bg .form .input-box textarea{
>>>>>>> master
=======
.contact-bg .form .input-box textarea {
>>>>>>> master
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: white;
    background: #242533;
    min-height: 15px;
    font-size: 1.1em;
}

<<<<<<< HEAD
<<<<<<< HEAD
.contact-bg .form .input-box textarea {
    height: 150px;
}

.contact-bg .form .input-box input[type="submit"] {
=======
.contact-bg .form .input-box textarea{
    height: 150px;
}

.contact-bg .form .input-box input[type="submit"]{
>>>>>>> master
=======
.contact-bg .form .input-box textarea {
    height: 150px;
}

.contact-bg .form .input-box input[type="submit"] {
>>>>>>> master
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #EAA221;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    background: #EAA221;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 20px 5px #EAA221;
    letter-spacing: 1px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.contact-bg .form .input-box input[type="submit"]:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

footer {
=======
.contact-bg .form .input-box input[type="submit"]:hover{
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

footer{
>>>>>>> master
=======
.contact-bg .form .input-box input[type="submit"]:hover {
    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
}

footer {
>>>>>>> master
    padding: 10px 100px;

}

<<<<<<< HEAD
<<<<<<< HEAD
footer .info {
=======
footer .info{
>>>>>>> master
=======
footer .info {
>>>>>>> master
    display: flex;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
footer .info .logo {
=======
footer .info .logo{
>>>>>>> master
=======
footer .info .logo {
>>>>>>> master
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

<<<<<<< HEAD
<<<<<<< HEAD
footer .info p {
=======
footer .info p{
>>>>>>> master
=======
footer .info p {
>>>>>>> master
    color: gray;

}

<<<<<<< HEAD
<<<<<<< HEAD
footer .info ul {
=======
footer .info ul{
>>>>>>> master
=======
footer .info ul {
>>>>>>> master
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
footer .info ul li {
=======
footer .info ul li{
>>>>>>> master
=======
footer .info ul li {
>>>>>>> master
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAA221;
}

<<<<<<< HEAD
<<<<<<< HEAD
footer .info ul li:hover {
=======
footer .info ul li:hover{
>>>>>>> master
=======
footer .info ul li:hover {
>>>>>>> master
    background: #EAA221;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px #EAA221;
}

/* inicio de sesión/registro */

/* fondo negro */
<<<<<<< HEAD
<<<<<<< HEAD
.overlay {
    background: rgba(0, 0, 0, 0.7);
=======
.overlay{
    background: rgba(0,0,0,0.7);
>>>>>>> master
=======
.overlay {
    background: rgba(0, 0, 0, 0.7);
>>>>>>> master
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    visibility: hidden;
}

<<<<<<< HEAD
<<<<<<< HEAD
.overlay.active {
=======
.overlay.active{
>>>>>>> master
=======
.overlay.active {
>>>>>>> master
    visibility: visible;
}

/* ventana emergente */
<<<<<<< HEAD
<<<<<<< HEAD
.popup {
    background: white;
    box-shadow: black 0px 3px 8px;
    border-radius: 3px;
    text-align: center;
    max-width: 850px;
    width: 100%;
    opacity: 0;
    transform: scale(0.7);
    transition: 0.3s ease all;
}

.popup .btn-cerrar-popup {
=======
.popup{
=======
.popup {
>>>>>>> master
    background: white;
    box-shadow: black 0px 3px 8px;
    border-radius: 3px;
    text-align: center;
    max-width: 850px;
    width: 100%;
    opacity: 0;
    transform: scale(0.7);
    transition: 0.3s ease all;
}

<<<<<<< HEAD
.popup .btn-close{
>>>>>>> master
=======
.popup .btn-cerrar-popup {
>>>>>>> master
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: right;
    transition: 0.3s ease all;
<<<<<<< HEAD
<<<<<<< HEAD
    color: #EAA221;
    position: relative;
    z-index: 1000;
}

.popup .btn-cerrar-popup:hover {
    color: red;
}

.popup.active{opacity: 1; transform: scale(1);}

.container {
    position: relative;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container .cover img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: #242533;
}

.form-content .input-box i {
    position: absolute;
    color: #242533;
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
}

.forms .form-content .text a {
    text-decoration: none;
    color: #242533;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

.forms .form-content .button input {
    color: #fff;
    background: #1d191f;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
    background: #242533;
}

.forms .form-content label {
    color: #EAA221;
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .container #flip:checked~.forms .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .login-form {
        display: none;
    }
}


@media(max-width: 900px) {
    header {
        padding: 15px 40px;
    }

    header .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #242533;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
    }

    header .nav.active {
        display: flex;
    }

    header .nav li {
        margin: 20px 0;
    }

    header .nav li a {
        font-size: 24px;
        margin: 10px 0;
    }

    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;
    }

    .toggleMenu.active {
        background: url(images/close.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
    }
}

.sidebar-menu{
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    height: 18%;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #EAA221;
    background: #1d191f;
    width: 300px;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0.7);
}

.sidebar-menu.active{
    opacity: 1;
    transform: scale(1);
}

.sidebar-menu ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
}

.sidebar-menu ul li{
    position: relative;
    width: 100%;
}

.toggle{
    position: absolute;
    top: 20px;
    right: -5px;
    width: 50px;
    height: 70px;
    color: #EAA221;
    font-size: 25px;
}

=======

=======
    color: #EAA221;
    position: relative;
    z-index: 1000;
>>>>>>> master
}

.popup .btn-cerrar-popup:hover {
    color: red;
}

.popup.active{opacity: 1; transform: scale(1);}

.container {
    position: relative;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container .cover img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: #242533;
}

.form-content .input-box i {
    position: absolute;
    color: #242533;
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
}

.forms .form-content .text a {
    text-decoration: none;
    color: #242533;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

.forms .form-content .button input {
    color: #fff;
    background: #1d191f;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
    background: #242533;
}

.forms .form-content label {
    color: #EAA221;
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .container #flip:checked~.forms .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .login-form {
        display: none;
    }
}


@media(max-width: 900px) {
    header {
        padding: 15px 40px;
    }

    header .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #242533;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
    }

    header .nav.active {
        display: flex;
    }

    header .nav li {
        margin: 20px 0;
    }

    header .nav li a {
        font-size: 24px;
        margin: 10px 0;
    }

    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;
    }

    .toggleMenu.active {
        background: url(images/close.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
    }
}

.sidebar-menu{
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    height: 18%;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #EAA221;
    background: #1d191f;
    width: 300px;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0.7);
}

.sidebar-menu.active{
    opacity: 1;
    transform: scale(1);
}

.sidebar-menu ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
}

.sidebar-menu ul li{
    position: relative;
    width: 100%;
}

.toggle{
    position: absolute;
    top: 20px;
    right: -5px;
    width: 50px;
    height: 70px;
    color: #EAA221;
    font-size: 25px;
}

<<<<<<< HEAD
}
>>>>>>> master
=======
>>>>>>> master
