<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/styles.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="menu-bar">
    <ul>
      <li><a href=".">Home &#x1f3ae;</a></li>
      <li><a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Juego1</a></li>
            <li><a href="#">Juego2</a></li>
            <li><a href="#">Juego3</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Acción  &#x2694;&#xfe0f;</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Juego1</a></li>
            <li><a href="#">Juego2</a></li>
            <li><a href="#">Juego3</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Mesa &#9823;&#65039;</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Juego1</a></li>
            <li><a href="#">Juego2</a></li>
            <li><a href="#">Juego3</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Aventura  &#x1f3f9;</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Juego1</a></li>
            <li><a href="#">Juego2</a></li>
            <li><a href="#">Juego3</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Clásicos &#x1f40d;</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Juego1</a></li>
            <li><a href="#">Juego2</a></li>
            <li><a href="#">Juego3</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#"><i class='fa fa-user-circle'></i></a></li>
    </ul>
  </div>
  {% block main %}{% endblock %}
</body>
</html>