
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0, 0, 0, 0.822)
    )
    ,url("brr.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

#container{
    position: relative;
    background-color: rgba(146, 42, 187, 0.836);
    width: 85%;
    height: 90vh;
    margin: 40px auto;
    border: 3px solid rgba(234, 0, 255, 0.384);
    border-radius: 5px;
}

#containerNav
{
    display: flex;
    width: 100%;
    height: 60px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(175, 107, 238);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
}

#containerNav .buscador button img
{
    width: 10px;
    height: auto;
}

#containerNav .buscador input
{
    width: 150px;
    height: auto;
}

.navbar ul li{
    display: flex;
    margin-left: 80px;
    text-align: right;
    float: left;
    list-style: none;
}

.navbar ul li a{
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar ul li a:hover{color: green;}

.logoUser
{
    position: relative;
    margin-left: 50%;
    margin: 0;
    width: 40px;
    height: auto;
    background-position: right;
}

.logoUser button{
    padding: 20px auto 20px 0px;
    background-color: rgb(175, 107, 238);
    border: none;
}

.logoUser button img{
    width: 100%;
    height: 25px;
}

.logoUser button img:hover
{
    width: 25px;
    height: auto;
    border: none;
    background-color: rgba(152, 93, 207, 0.753);
}

.mostrar-nav{
    order: 1;
}

.mostrar-nav,
.esconder-nav{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.5s;
}

#check{
    display: none;
}

/*parte responsive*/
@media(max-width: 768px){

    .mostrar-nav,
    .esconder-nav{
        position: relative;
        right: 30px;
        display: block;
        float: right;
        right: 0;
        width: 25px;
        height: 40px;
    }

    .navbar{
        display: flex;
        position: fixed;
        width: 40%;
        height: 100vh;
        background: darkorchid;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.5s;
        opacity: 0.9;
   }

    .navbar ul li{
        display: block;
        padding-top: 30px;
        margin-left: 0%;
   }

   .navbar ul li a:hover{
        color: aqua;
    }

   .esconder-nav{
        position: absolute;
        top: 40px;
        right: 40px;
   }

   #check:checked ~ .navbar{
        right: 0;
   }
}

/*aasdsadasdsadasdasda*/

#content{
    text-align: center;
    padding: 20px;
    text-size-adjust: 20px;
}

.clearfix{
    clear: both;
}

aside
{
    background-color: aqua;
}

.containerFooter{
    height: auto;
    width: 100%;
    padding: 1px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.459);
    border-top: solid rebeccapurple;
    position: sticky;
    top: 160px;
}
